@model IEnumerable<IVEACore.Models.Indicator>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Indicator</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="indicator" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameIndicator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameIndicator)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_Indicator">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_Indicator">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_Indicator">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr color="blue" />
<b>
    <a asp-action="PrintIndicatorPDF">Print to PDF</a>
</b>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#indicator").DataTable();
        });
    </script>
}


