@model IVEACore.Models.Farm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Farm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameFarm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameFarm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameFarmer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameFarmer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameFarmer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameFarmer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressFarm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressFarm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FarmExtention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FarmExtention)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Farm">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
