@model IVEACore.Models.FarmSampling

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FarmSampling</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Farm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Farm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSampling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSampling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_CFV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_CFV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value_CFV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value_CFV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_DAS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_DAS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value_DAS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value_DAS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_DFS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_DFS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value_DFS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value_DFS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_MPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_MPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value_MPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value_MPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_NCS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_NCS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value_NCS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value_NCS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_NES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_NES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value_NES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value_NES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_NRS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_NRS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value_NRS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value_NRS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_PES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_PES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value_PES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value_PES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_RCES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_RCES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value_RCES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value_RCES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_RCS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_RCS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value_RCS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value_RCS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_RES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_RES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value_RES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value_RES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_VBS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_VBS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value_VBS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value_VBS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_AF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_AF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value_AF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value_AF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalsAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalsAmount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_FamSampling" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
